    * {
        background-color: #FEE140;
        background-image: -webkit-linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
        background-image: -moz-linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
        background-image: -o-linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
        background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
        text-align: justify;
    }
    
    .box {
        background-color: lightslategrey;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    .image {
        margin: 30px 40px 300px 20px;
        box-sizing: content-box;
        height: 200px;
        width: 350px;
        background-image: url(./ritik.jpg);
        background-position: top right;
        border-radius: 80%;
        background-repeat: no-repeat;
        border: 20px groove rgb(12, 198, 117);
        box-shadow: 10px 30px 40px -50px rgba(107, 107, 45, 0.96);
    }
    
    .naam {
        font-size: 40px;
        margin: 50px 60px 80px 60px;
        color: rgb(38, 49, 61);
        letter-spacing: 2px;
        word-spacing: 1px;
        text-transform: uppercase;
        background-image: linear-gradient(to left, rgba(6, 6, 148, 0.79), rgba(182, 0, 73, 0.715));
        background-clip: text;
        color: transparent;
        text-shadow: 5px 8px 20px rgb(150, 35, 3);
    }
    
    .Maintable {
        border-radius: 30px;
    }
    
    .qualification {
        border-radius: 10px;
    }
    
    td::first-line {
        font-weight: bold;
        font-size: 19px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    li {
        font-size: 15px;
        font-style: oblique;
        font-family: sans-serif;
    }